<%
  output = {
    :iTotalDisplayRecords => @blocks.total_entries || 0,
    :aaData => @blocks.collect do |block|
      link_id = "block_#{block.id}"
      nb_pages = block.page_cols.count
      [
        content_tag(:div, '<div class="image">&nbsp;<span class="small-icons block">&nbsp;</span></div>', :id => link_id, :class => 'some-variants plus'),
        content_tag(:div, link_to(block.title, [:edit, :admin, block]), :class => 'page-name'),

        content_tag(:span,"#{nb_pages.to_s} #{I18n.t('page', :count => nb_pages)}", :class=>'linked_to') +
        render(:partial => 'admin/blocks/pages.html.haml', :locals => { :link_id => link_id, :block => block }),

        link_to('', forgeos_cms.duplicate_admin_static_content_block_path(block), :class => 'small-icons duplicate-link') +
        link_to('', [:edit, :admin, block], :class => 'small-icons edit-link') +
        link_to_remote('', :url => [:admin, block],
           :method => :delete,
           :confirm => I18n.t('static_content_block.destroy.confirm').capitalize,
           :success => "removedataTablesRow('#destroy_#{link_id}')",
           :html => {
           :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
         })
      ]
    end
  }
-%>
<%= output.to_json -%>
