%ul
  %li= link_to I18n.t('page', :count => 2).capitalize, '#content'
  %li= link_to I18n.t('block', :count => 2).capitalize, admin_blocks_path
  %li= link_to I18n.t('section', :count => 2).capitalize, admin_sections_path
