<%= render :partial => 'top_links', :locals => { :page => @page } %>

<h1>Edit a page</h1>

<% if @page %>
  <%= render :partial => 'form', :locals => {  :action => 'edit', :page => @page, :sections => @sections } %>
<% end %>

<%= link_to 'Back', :back %>
