<%= render :partial => 'top_links', :locals => { :page => @page } %>

<h1><%= I18n.t('page.update.action').capitalize %></h1>

<% if @page %>
  <%= render :partial => 'form', :locals => {  :action => 'edit', :page => @page, :sections => @sections } %>
<% end %>
