%h1
  = I18n.t('page.create.action').capitalize
= render :partial => 'form', :locals => { :page => @page, :sections => @sections }
= observe_field('page_title', :frequency => 1, :loading => "$('#page_url').addClass('loading')", :success => "$('#page_url').val(request); $('#page_url').removeClass('loading')", :url => url_admin_pages_path, :with => "'url=' + value", :datatype => 'text')
