<% @content_for_tools << link_to('list', { :controller => 'blocks', :action => 'index' }, :class => 'house' )%>

<h1>Add a block</h1>

<%= render :partial => 'form', :locals => { :action => 'create', :block => @block, :page_id => params[:page_id] } %>

<%= link_to 'Back', :back %>
