<% @content_for_tools << link_to('list', { :controller => 'blocks', :action => 'index' }, :class => 'house' )%>

<h1><%= I18n.t('block.create.action').capitalize %></h1>

<%= render :partial => 'form', :locals => { :action => 'create', :block => @block, :page_id => params[:page_id] } %>

<%= link_to I18n.t('back').capitalize, :back %>
