<%= render :partial => 'top_links', :locals => { :block => @block } %>

<h1><%= I18n.t('block.update.action').capitalize %></h1>

<% if @block %>
  <%= render :partial => 'form', :locals => {  :action => 'edit', :block => @block } %>
<% end %>

<%= link_to I18n.t('back').capitalize, :back %>
