<%= render :partial => 'top_links', :locals => { :block => @block } %>

<h1><%= I18n.t('block.update.action', :count => 2).capitalize %></h1>

<% if @block %>
  <%= render :partial => 'form', :locals => {  :action => 'edit', :block => @block } %>
<% end %>
