<%= render :partial => 'top_links', :locals => { :block => @block } %>

<h1><%= I18n.t('block.create.action').capitalize %></h1>

<%= render :partial => 'form', :locals => { :block => @block, :page_id => params[:page_id] } %>
