- content_for :tools, link_to(I18n.t('list').capitalize, admin_widget_wnews_index_path, :class => 'house' )
- if wnew && !(wnew.new_record?)
  - content_for :tools do
    = link_to(I18n.t('show').capitalize, admin_widget_wnews_path(wnew))
    = link_to(I18n.t('edit').capitalize, edit_admin_widget_wnews_path(wnew))
    = link_to(I18n.t('delete').capitalize, admin_widget_wnews_path(wnew), :confirm => I18n.t('wnews.destroy.confirm').capitalize, :method => :delete)
