#dashboard.grid_16.alpha.omega
  .left-dashboard.grid_12.alpha.omega
    .padding-wrap
      .quick-actions
        - link_to new_admin_page_path, :class => 'quick-action-button' do
          %span.big-icons.create-page
            = I18n.t('page.create.action').capitalize
        - link_to admin_statistics_path, :class => 'quick-action-button' do
          %span.small-icons.see-stats
            = I18n.t('statistic.show.all').capitalize
      .clear

  .right-dahsboard.grid_4
    %h2.small-icons.live-stats
      = I18n.t('statistic.live', :count => 2).capitalize
    .live-stats-content
      %span.disabled
        -#= I18n.t('visitor.online', :count => online_visitors)
  .clear
