- content_for :tools, link_to(I18n.t('list').capitalize, admin_sections_path, :class => 'house' )
- if section && !(section.new_record?)
  - content_for :tools do
    = link_to(I18n.t('show').capitalize, admin_section_path(section))
    = link_to(I18n.t('edit').capitalize, edit_admin_section_path(section))
    = link_to(I18n.t('destroy').capitalize, admin_section_path(section), :confirm => I18n.t('section.destroy.confirm').capitalize, :method => :destroy)
