<%= render :partial => 'top_links', :locals => { :section => @section } %>

<h1><%= I18n.t('section.create.action').capitalize %></h1>

<%= render :partial => 'form', :locals => { :action => 'create', :sections => @sections, :section => @section } %>
