<%= render :partial => 'top_links', :locals => { :section => @section } %>

<h1><%= I18n.t('section.update.action').capitalize %></h1>

<% if @section %>
  <%= render :partial => 'form', :locals => { :action => 'edit', :sections => @sections, :section => @section } %>
<% end %>
