= render :partial => 'top_links', :locals => { :section => @section }
%h1
  = I18n.t('section.create.action').capitalize
= render :partial => 'form', :locals => { :sections => @sections, :section => @section }
