= render :partial => 'top_links', :locals => { :carousel => @carousel }
%h1
  = I18n.t('carousel.update.action').capitalize
- if @carousel
  = render :partial => 'form', :locals => { :action => 'edit', :carousel => @carousel }
