%h1
  = I18n.t('widget.list').capitalize
#list_widgets
  %table#table
    %thead
      %tr
        %th
          = I18n.t('widget.one').capitalize
    %tbody
      - RailsContent::Widgets.each_value do |widget|
        %tr{ :class => cycle('even', 'odd') }
          %td
            = link_to I18n.t(widget[:id].pluralize).capitalize, :controller => widget[:controller]

= dataTables_tag(1, :action_column => false)
