<%
  output = {
    :iTotalDisplayRecords => @widgets.total_entries || 0,
    :aaData => @widgets.collect do |widget|
      link_id = "block_#{widget.id}"
      nb_pages = widget.pages.count
      [
        content_tag(:div, '<div class="image">&nbsp;<span class="small-icons widget">&nbsp;</span></div>', :id => link_id, :class => 'some-variants plus'),
        content_tag(:div, widget.class.human_name.upcase, :class => 'widget-type'),
        content_tag(:div, link_to(widget.title, [:admin, widget]), :class => 'widget-name'),
        content_tag(:span, "#{nb_pages.to_s} #{I18n.t('page', :count => nb_pages)}",  :class => 'linked_to') +
        render(:partial => 'pages.html.haml', :locals => { :link_id => link_id, :widget => widget }),
        link_to('', [:duplicate, :admin, widget], :class => 'small-icons duplicate-link') +
        link_to('', [:edit, :admin, widget], :class => 'small-icons edit-link') +
        link_to_remote('', :url => [:admin, widget],
           :method => :delete,
           :confirm => I18n.t('widget.destroy.confirm').capitalize,
           :success => "removedataTablesRow('#destroy_#{link_id}')", 
           :html => {
           :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
         })
      ]
    end
  }
-%>
<%= output.to_json -%>
