%li{ :rel => 'file', :id => "block_#{block.id}" }
  = link_to block.title + '<span class="small-icons"></span>', '#', :class => 'small-icons block', :block_id => block.id, :block_type => block.class.human_name.capitalize
