= render :partial => 'admin/widgets/tabs'
= render :partial => 'form', :locals => { :widget_actuality => @widget_actuality, :page_id => params[:page_id], :page_categories => @page_categories, :pages => @pages }
