<% 
  output = {
    :iTotalDisplayRecords => @menus.total_entries || 0,
    :aaData => @menus.collect do |menu|
      link_id = menu.id
      klass = menu.active? ? 'see-on' : 'see-off'
      [
        content_tag(:div, '<div class="image">&nbsp;<span class="small-icons menu-ico">&nbsp;</span></div>', :id => link_id),
        content_tag(:div, link_to(menu.name, [:edit, :admin, menu]), :class => 'menu-name'),
        link_to_remote('', :url => forgeos_cms.activate_admin_menu_path(menu),
         :complete => "toggleActivate('#show_#{link_id}')",
         :html => {
           :class => "small-icons #{klass}",
           :id => "show_#{link_id}"
        }),
        link_to('', [:duplicate, :admin, menu], :class => 'small-icons duplicate-link') +
        link_to('', [:edit, :admin, menu], :class => 'small-icons edit-link') +
        link_to_remote('', :url => [:admin, menu],
          :method => :delete,
          :confirm => t('menu.destroy.confirm').capitalize,
          :success => "removedataTablesRow('#destroy_#{link_id}')",
          :html => {
          :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
        })
      ]
    end
  }
-%>
<%= output.to_json %>
